body {
 background-color: rgb(99, 98, 98);
}

main img {
    width: 20%;
    margin-left: 100px;
    padding: 20px;

}

h1 {
    text-align: center;
    font-family: cursive;
}

h2{
    text-align: center;
    font-family: cursive;
}



li {
    padding: 5px;
    font-weight: 600;
}