body {
 background-color: rgb(204, 161, 161);
}

main img {
    margin-left: 100px;
}
#images img {
    width: 20%;
    border: 15px solid #632e54;
    border-radius: 5%;
    /* margin: 5px; */
    /* align-content: center; */
  }

h1 {
    color: white;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px 8px rgba(99, 46, 84) , 0 0 12px rgb(243, 223, 223);
    font-family: 'Train One', cursive;
    padding-bottom: 50px;
}

h2{
    text-align: center;
    background-color:rgba(99, 46, 84) ;
    font-family: 'Train One', cursive;
    padding-bottom: 25px;
    border-radius: 9px;
}



li {
    padding: 5px;
    font-weight: 600;
}